.testimonial_section {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.testimonial_section h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #333;
}

.slick-list {
    margin: 0 -10px; /* Adjust for the gap between the slides */
}
.slick-list{
    padding:0 1000px;
}

.testimonial_item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 10px; /* Add gap between slides */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px; /* Fixed width for square effect */
    height: 250px; /* Fixed height for square effect */
    /* overflow: hidden; */
}

.testimonial_item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.testimonial_item p {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
    font-style: italic;
    text-align: center;
}

.testimonial_item h4 {
    font-size: 16px;
    color: #333;
    font-weight: 600;
    text-align: center;
}